Testing 
.vscode
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.jpg
*.txt

.vscode
mydata
Calculator_stable/calculator
Calculator_stable/executablename
Calculator_stable/input
Calculator_stable/output
Calculator_testing/calculator
Calculator_testing/executablename
